html,
body {
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center !important;
    margin: 0px 0px 50px 0px !important;
    overflow: hidden !important;
    overflow-x: hidden !important;
    height: 100vh;
    width: 100vw;
}

*,
::after,
::before {
    box-sizing: unset !important;
}

hr {
    width: 500px;
}



#errors {
    color: coral;
}

#board {

    width: 450px;
    height: 450px;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-collapse: collapse !important;
    margin: auto;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;

}

.tile {
    width: 48px !important;
    height: 48px !important;
    border: .5px solid #888888 !important;
    flex-basis: auto !important;
    flex-grow: 0 !important;
    flex-shrink: auto !important;
    /* Text */
    font-size: 20px !important;
    font-weight: bold !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.tile:hover {
    background-color: #f5dd90;
}

.tile2 {
    width: 48px;
    height: 48px;
    /* border-top: 1px solid lightgray; */
    border-right: .5px solid #888888;
    border-left: .5px solid #888888;


    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile2:hover {
    background-color: #f5dd90;
}

.rowDigits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;


}

#digits {
    width: 405px;
    height: 44px;
    border: 1px solid black;
    display: flex;
    /* flex-wrap: wrap; */
}

.number {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 0px !important;
    display: none;
    font-size: none;
    height: none;
    justify-content: none;
    margin-right: 0px !important;
    min-width: 0px !important;
    padding: 0px !important;
    text-align: none;
    vertical-align: none;

    width: 44px !important;
    height: 44px !important;
    border-left: 1px solid black !important;

    /* Text */
    font-size: 20px !important;
    font-weight: bold !important;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    background-color: white !important;

}

.number:hover {
    background-color: #f2f2f2 !important;
}

.number:nth-child(1) {
    border-left: none !important;
}

.number-selected {
    background-color: gray !important;
}

.tile-start {
    background-color: white !important;
}

.horizontal-line {
    border-bottom: 2px solid black !important;
}

.vertical-line {
    border-right: 1px solid black !important;
}

.undoImage {
    width: 20px;
}

.undoButton {
    width: 44px;
    height: 44px;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.undoButton:hover {
    background-color: #f2f2f2;
}

.borderDiv {
    display: flex;
    border-collapse: collapse;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 44px;
    width: 44px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    /* width: 100vh; */
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.shrink {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

#navBar {
    background-color: #333 !important;
    overflow: hidden;
    width: 100%;
    height: 50px;
    margin: 0;
    border: 0px;
}

.outerContainer {
    /* max-width: 100%; */
    /* This can also be used */
    width: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /*creates that fluidity */
    /* margin: 25px; */
    /* background-color: #efe; */

}

@media (max-width:480px) {
    #board {

        transform: scale(.8);
        margin: auto;
    }

    .outerContainer {
        margin: 0px -40px !important;
    }

    .rowDigits {
        transform: scale(.8);
    }
}

#highScore {
    justify-content: center;
    align-items: center;
}



.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.break {
    width: auto;
    background-color: black !important;
    /* border: 1px solid black !important; */
    display: block !important;
    height: 1px !important;
    margin: 8px -75px 19px -13px !important;
}